PassengerEnabled on
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py
PassengerAppRoot /home/vrdsolution/apps_wsgi/checklist
PassengerPython /usr/bin/python3

Options -Indexes +FollowSymLinks
AllowOverride all
Require all granted
